.projectsHeadline {
    text-transform: uppercase;
    font-family: "Montserrat";
    text-align: center;
    font-weight: 600;
    padding: 2em
}

.projectContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.project {
    max-width: 500px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 20px 20px rgba(0,0,0,.1);
}

.project:hover {
    transform: scale(1.05);
}

.projectName {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Montserrat";
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.ellipsisContainer {
    text-align: justify;
    padding: 0em 1em 0em 1em;
}
.categoryContainer {
    display: inline-flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: 500px;
    padding-bottom: 1.5em;
}
.test {
    background: rgb(253,253,253, 1);
}
.categoryContainer > div {
    margin:6px;
    padding:1em;
    background-color: #E5E5E5;
    padding: 0 1em 0 1em;
    border-radius: 8px;
}

.linkToProjects {
    text-decoration: none;
    color: #1F2532;
    margin-bottom: 1em;

}
.linkToProjects:hover {
    color: #1F2532;
}
