@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

.sponsorsTitle {
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    padding: 2em;
}

.spons {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;

}
.spons * {
    flex: 1 0 20%;
}
