@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

.sponsorsTitle {
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    padding: 2em;
}

.sponsorsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 4em;
    padding-right: 4em;

}
.sponsorsContainer * {
    width: calc(100% * (1/6) - 10px - 1px);
}
